* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}

main h1 {
  text-align: center;
  color: #FFF;
  text-shadow: 2px 2px 2px #000;
  text-transform: uppercase;
  padding: 25px;
}

.catalogue {
  width: 100%;
  display: flex;
}

.catalogue-element {
  width: calc(100% / 3);
  padding: 30px;
}

.catalogue-element h2 {
  margin-bottom: 25px;
}

.catalogue-element li {
  padding: 30px 0;
  list-style: none;
}
